body{
  margin-top: 50px;
}

.card-body {
  padding: 10px;
  text-align: center;
}
.card {
  padding: 10px;
  margin-bottom: 10px;
}
.form-control {
  margin-bottom: 10px;
}

.list-group {
  margin-bottom: 10px;
}

.list-group-item {
  padding: 10px;
}