
.card {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(223, 9, 9, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    text-align: center;
}


.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.btn-primary:hover {
    background-color: #212e3a;
}